/Project_1/nbproject/private/
/Part1_1/nbproject/private/
/Part1_1/build/
/Part1_1/dist/
/Projekt_Obiektowy/nbproject/private/
/Projekt_Obiektowy/build/
/Projekt_Obiektowy/dist/
/Referencja/nbproject/private/
/Referencja/build/